[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_SUPABASE_KEY,VITE_SUPABASE_URL,VITE_GEMINI_API_KEY"
